 <app-header></app-header>

  <h1><u>{{phone$.name.name}} Phone Details</u></h1>
  <div>
  <div class ="column"><img src = {{phone$.picture.picture}}> </div>
  <div class ="column1"><h4><u>Description:</u> {{phone$.description.description}} </h4> </div>
  <div class="column1"> <h4><u>Price:</u> ${{phone$.price.price}}</h4> </div>
  <div class="column1"><h4><u>Quantity: </u>{{phone$.qty.quantity}}</h4></div>
  <div class="column1"><h4><u>Buy: </u> </h4>
      <div class="input-group">
     <div class ="input"><input id="qunatityWanted" type="text" class="form-control" name="qunatityWanted" placeholder="Enter a number"></div>
      </div> </div>
</div>
<a routerLink="/Products"> Back to Products Page </a>


   <!-- Product Name
Product Description
Price
# of  items in stock
A hi-res image of product item
“Buy” option r
# of items to “Buy”
-->




