
h1{
  text-align: center;
  padding-top: 3%;
  color:#191D32;
}
u {
  color:#191D32;
}
a{
  padding: 3%;
  color: #841C26;
}

img{
  width: 300px;
  height: 200px;
}

.column {
  float: left;
  width: 30%;
  padding-top: 1%;
  padding-left: 3%;
}
.column1 {
  float: left;
  width: 70%;
  padding-left: 3%;
  padding-top: 1%;

}

h4 {
  color: #565264;
}


.input {
  padding-left: 5%;
}
