h1{
  padding-top: 50px;
  text-align:center;
  padding-bottom: 25px;
}

html,body {
  overflow: visible;
  }
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    }
